n8n/tokenwise-skeleton.workflow.json
{
  "id": "tokenwiseskeleton",
  "name": "TokenWise Skeleton",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tokenwise",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-60, 320],
      "webhookId": "tokenwise-skeleton"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{ json: {\n  request_id: 'r-' + Date.now(),\n  prompt: body.prompt || '',\n  policy_mode: body.policy_mode || 'balanced'\n} }];"
      },
      "id": "node-normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://guardrails-service:8000/check/input",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $json.request_id, prompt: $json.prompt, policy_mode: $json.policy_mode }) }}",
        "options": {}
      },
      "id": "node-guardrails",
      "name": "Guardrails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-pass",
              "leftValue": "={{ $json.pass }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-if-pass",
      "name": "Guardrail Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [560, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-cache-service:8000/cache/lookup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: ($('Guardrails').item.json.safe_text || $('Normalize').item.json.prompt), dept_id: 'demo', task_type: 'general' }) }}",
        "options": {}
      },
      "id": "node-cache",
      "name": "Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://optimizer-service:8000/agent/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $('Normalize').item.json.request_id, prompt: ($('Guardrails').item.json.safe_text || $('Normalize').item.json.prompt), policy_mode: $('Normalize').item.json.policy_mode, guardrail_status: 'passed', cache_status: $('Cache').item.json.cache_status }) }}",
        "options": {}
      },
      "id": "node-optimizer",
      "name": "Optimizer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 200]
    },
    {
      "parameters": {
        "jsCode": "const optimizer = $json;\nconst guardrail = $('Guardrails').item.json;\nconst cache = $('Cache').item.json;\nconst status = guardrail.requires_redaction ? 'passed_with_redaction' : 'passed';\nreturn [{ json: {\n  answer: 'This is a mock answer from TokenWise (Day 1-3 skeleton). Real model routing comes later.',\n  receipt: {\n    guardrail_status: status,\n    cache_status: cache.cache_status,\n    selected_tier: optimizer.selected_tier,\n    estimated_tokens: optimizer.estimated_tokens,\n    estimated_cost: optimizer.estimated_cost,\n    optimization_reason: optimizer.optimization_reason,\n    cost_saved: optimizer.cost_saved,\n    detected_risk_type: guardrail.detected_risk_type || null,\n    reason: guardrail.reason || 'passed'\n  }\n} }];"
      },
      "id": "node-build",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "jsCode": "const g = $json;\nconst tokens = (g.estimated_tokens != null) ? g.estimated_tokens : 0;\nconst saved = g.cost_saved_by_blocking || 0;\nreturn [{ json: {\n  answer: 'Request blocked by TokenWise guardrails: ' + (g.reason || 'blocked'),\n  receipt: {\n    guardrail_status: 'blocked',\n    cache_status: 'skipped',\n    selected_tier: 'none',\n    estimated_tokens: tokens,\n    estimated_cost: 0,\n    optimization_reason: 'Blocked: ' + (g.reason || '') + (g.policy_triggered ? ' [' + g.policy_triggered + ']' : ''),\n    cost_saved: saved,\n    detected_risk_type: g.detected_risk_type || null,\n    reason: g.reason || 'blocked'\n  }\n} }];"
      },
      "id": "node-build-blocked",
      "name": "Build Blocked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 320]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]] },
    "Normalize": { "main": [[{ "node": "Guardrails", "type": "main", "index": 0 }]] },
    "Guardrails": { "main": [[{ "node": "Guardrail Passed?", "type": "main", "index": 0 }]] },
    "Guardrail Passed?": {
      "main": [
        [{ "node": "Cache", "type": "main", "index": 0 }],
        [{ "node": "Build Blocked", "type": "main", "index": 0 }]
      ]
    },
    "Cache": { "main": [[{ "node": "Optimizer", "type": "main", "index": 0 }]] },
    "Optimizer": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] },
    "Build Response": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Build Blocked": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
